@import "variables";

#conference-day-tabs{
  a::before {
    content: 'Starts on';
    font-weight: normal;
    display: block;
  }
}

.conference-programme{
  .programme-time{
    visibility: hidden;
  }
  .tabs.buttons__row{
    display: none;
  }
}

.help-text-service{
  margin-top: .2rem;
  opacity: .7;
  font-family: 'UOC Sans';
}