@font-face {
  font-family: "UOC Sans";
  src: font-url("uoc/UOCSans-Regular.woff2") format("woff2"), font-url("uoc/UOCSans-Regular.woff") format("woff"),
    font-url("uoc/UOCSans-Regular.otf") format("truetype");
  font-display: auto;
  font-weight: 400;
}

@font-face {
  font-family: "UOC Sans";
  src: font-url("uoc/UOCSans-Italic.woff2") format("woff2"), font-url("uoc/UOCSans-Italic.woff") format("woff"),
    font-url("uoc/UOCSans-Italic.otf") format("truetype");
  font-display: auto;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "UOC Sans";
  src: font-url("uoc/UOCSans-Bold.woff2") format("woff2"), font-url("uoc/UOCSans-Bold.woff") format("woff"),
    font-url("uoc/UOCSans-Bold.otf") format("truetype");
  font-display: auto;
  font-weight: 600;
}

@font-face {
  font-family: "UOC Serif";
  src: font-url("uoc/UOCSerif-Regular.woff2") format("woff2"), font-url("uoc/UOCSerif-Regular.woff") format("woff"),
    font-url("uoc/UOCSerif-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin font-serif() {
  font-family: "UOC Serif", Georgia, "Times New Roman", Times, serif;
}

@mixin font-sans() {
  font-family: "UOC Sans", Arial, Helvetica, sans-serif;
}

@mixin font-heading-serif() {
  @include font-serif;
}

@mixin font-heading-sans() {
  @include font-sans;
}

@mixin font-link() {
  @include font-sans;
  font-weight: 600;
  text-transform: none;
  text-decoration: underline;
}

@mixin font-button() {
  @include font-sans;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
