@import "./variables";

/* fix color variables */
.button.hollow.secondary:hover,
.button.hollow.secondary:focus {
  color: $body-font-color;
}

.svg-icon-path {
  color: $primary !important;
}

html a,
.link,
.card__link,
.cookie-warning a,
.process_stats .process_stats-item .icon,
.author-data .author__name,
#profile-tabs.tabs .tabs-title a,
.floating-helper__icon-big,
.side-panel__tabs .tabs-title.is-active > [role="tab"],
.side-panel__tabs .tabs-title.is-active > a,
.side-panel__tabs .tabs-title > [role="tab"]:hover,
.side-panel__tabs .tabs-title > a:hover,
.global-accountability .row.column .card--accountability .card__content ul a,
.global-accountability .row.columns .card--accountability .card__content ul a,
.global-accountability .row.column .card--accountability .badge-card__content ul a,
.global-accountability .row.columns .card--accountability .badge-card__content ul a,
.topbar__dropmenu .is-dropdown-submenu li a,
.floating-helper__text {
  color: $secondary;
}
.button.secondary,
.pagination .current,
.opinion-toggle--meh:hover,
.opinion-toggle--meh:focus,
.opinion-toggle--meh.is-active,
.floating-helper__content-close,
.floating-helper__icon {
  background-color: $secondary;
}

.floating-helper__content {
  border-top: 5px solid $secondary;
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: $secondary transparent transparent;
}
