@import "variables";
@import "foundation";

.title-bar {
  background-color: white;
  padding: 0;
  padding-bottom: $unit * 1.2;
}

.navbar {
  background-color: $navbar-bg;
  font-family: "UOC Serif", Georgia, "Times New Roman", Times, serif;
  margin-bottom: $unit;

  & > .row {
    padding: 0;
  }

  .main-nav {
    background-color: $navbar-bg;

    &__link {
      @include top-bottom-border($gray-mid);
      margin: 0 $unit;
      text-align: left;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      a {
        color: $navbar-fg;
        font-family: "Uoc Sans";
        text-decoration: none;
        height: $unit * 3;
        padding: 0;

        &:hover {
          @include top-bottom-border($body-font-color);
          text-decoration: none;
        }
      }

      &--active a {
        color: $navbar-fg;
        @include top-bottom-border($body-font-color);
      }
    }
  }
}

.dropdown.menu {
  .is-dropdown-submenu-parent.is-active {
    & > a:first-child {
      color: $primary;
    }
  }
}

.topbar {
  max-width: none;
  padding: 3rem;

  &__search {
    input,
    input:focus {
      color: $body-font-color;
      background-color: $white;
    }

    input,
    button,
    .input-group-button {
      border-radius: 0;
    }

    input::placeholder,
    textarea::placeholder {
      color: $navbar-fg;
    }

    &:not(:focus-within) .button {
      background-color: $primary-light;
      color: $body-font-color;
    }
  }

  &__dropmenu {
    a {
      text-decoration: none;
    }

    .icon {
      opacity: 0.5;
    }
  }

  &__user {
    &__login a {
      color: $body-font-color;
    }
  }

  &__menu {
    button svg {
      fill: $body-font-color;
    }
  }
}

.subhero-cta {
  color: $body-font-color;
  &:hover {
    color: $body-font-color;
  }
}
