@import "./variables";

.title-bar {
  background-color: $title-bar-bg;
  padding: 0;
}

.navbar {
  @include font-serif;

  background-color: $navbar-bg;
  margin-bottom: $unit;

  & > .row {
    padding: 0;
  }

  .main-nav {
    @include menu;

    &__link {
      @include menu-item-li;

      a {
        @include menu-item-a;
        height: $unit * 3;
        padding-top: 0.6rem;
      }

      &--active a {
        color: $navbar-fg;
        @include top-bottom-border($link-color);
      }
    }
  }
}

.dropdown.menu {
  .is-dropdown-submenu-parent,
  .is-dropdown-submenu-parent.is-active {
    a {
      color: $link-color;
    }
  }
}

.topbar {
  max-width: none;
  padding: 3rem;

  &__search {
    input,
    input:focus {
      color: $body-font-color;
      background-color: $title-bar-bg;
    }

    input,
    button,
    .input-group-button {
      border-radius: 0;
    }

    input::placeholder,
    textarea::placeholder {
      color: $navbar-fg;
    }

    &:not(:focus-within) .button {
      background-color: $link-color;
      color: $title-bar-bg;
    }
  }

  &__user__login,
  &__admin__link,
  &__menu,
  &__dropmenu {
    a {
      color: $link-color;
      text-decoration: none;
    }
    .icon {
      opacity: 0.5;
    }
    svg {
      fill: $link-color;
    }
  }
}

.subhero-cta {
  color: $body-font-color;
  &:hover {
    color: $body-font-color;
  }
}
