<div class="row">
  <div class="callout secondary">
    <%= t("uoc.account_callout") %>
    <%= link_to t("uoc.account_url"), target: :blank do %>
      <%= t("uoc.account_link") %>
      <%= icon "external-link", role: "img", "aria-hidden": true %>
    <% end %>
  </div>
</div>
